@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  }

button {
  width: 35%;
  margin: 6px;
  margin-left: 0.5em;
  margin-right: 0.5em;}

input {
  width: 35%;
  margin: 8px;
  color: black;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: uppercase;}

.input {
  display: flex;
  width: 60%;}

.button {
  display: flex;
  width: 60%;
  justify-content: space-around;}

.names {
  border: 2px solid #f2a800;
  padding: 20px;
  color: white;
  background: #382c6e;
  font-size: 20px;}

.ID {
  border: 1px solid #f2a800;
  text-transform: uppercase;
  background-color: #f2a800;
  padding: 20px;
  font-size: 20px;}

.ID1 {
  background-color: #eba004;
  text-transform: uppercase;
  font-size: 20px;}

  .first {
    width: 60%;
    border: 1px solid #f2a800;
    font-family: Roboto;}
